{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Repuesto</title>
    <link rel="stylesheet" type="text/css" href="maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- FOOTER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- WHATSAPP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- ANIMACIÓN AL CLICKEAR BOTÓN MENÚ -->
    <style>html {
        scroll-behavior: smooth;
    }</style>


    <link type="text/css" rel="stylesheet" href="{% static 'productos/css/styleforms3.css' %}">   
</head>



<script type="text/javascript">
    function ConfirmDelete()
        {
            var respuesta = confirm("¿Estás seguro de que desesas eliminar este Repuesto?");
            if (respuesta == true)
            {
                Swal.fire({
                    title: "¡ELIMINADO!",
                    text: "Se eliminado el repuesto con éxito ✔",
                    icon: "success",
                    footer: "La página se actualizará en 5 segundos.",
                    backdrop: true,
                    timer: 5000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                });
                return true;
            }
            else
            {
                return false
            }
        }
</script>
<body>

<!--SECCIÓN PORTADA-->
<section id="secportada">
  <img class="imagenportada" src="{% static 'productos/img/panelhcabrera2.png' %}" alt="imagenportada">
</section>



<section id="sectitulo">
  <p class="titulorepuestos">LISTA DE REPUESTOS</p>
</section>




<div class="tablarepuestos">
    <table border="2" class="table">
        <tr>
            <th class="titulotabla">ID</th>
            <th class="titulotabla">REPUESTO</th>
            <th class="titulotabla">MAQUINA</th>
            <th class="titulotabla">DESCRIPCION</th>
        </tr>
        {% for veh in Repuesto%}
        <tr></tr>
            <td class="descripciontabla">{{veh.idRepuesto}}</td>
            <td class="descripciontabla">{{veh.nombreRepuesto}}</td>
            <td class="descripciontabla">{{veh.maquina}}</td>
            <td class="descripciontabla">{{veh.descripcionRepuesto}}</td>
            <td>
                <a href="{% url 'form_mod_repuesto' veh.idRepuesto %}" class="descripcionmodificar">Modificar</a>
            </td>
            <td>
                <a href="{% url 'form_del_repuesto' veh.idRepuesto %}" class="descripcioneliminar" onclick="return ConfirmDelete()">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>



<!--█ JAVASCRIPT █-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'productos/js/jquery.numeric.js' %}"></script>
<script src="{% static 'productos/js/clima.js' %}"></script>
<script src="{% static 'productos/js/script.js' %}"></script>

</body>



</html>